# python
__pycache__/
*.py[cod]
*.pyd
*.so

# venv
.venv/
venv/

# builds
build/
dist/
dist_*/
dist_fresh*/
dist_inst*/
dist_new*/
dist_nuitka_*/
release_*/
.release_cache/
github_release/
portable/
installer_payload/
nuitka-crash-report.xml

# runtime data
logs/
cache/
data/
mods/
merged_runtime/
backups/
configs/
core/
default_packs/

# local tools
*.zip
*.7z
*.log
*.tmp
README.md

# ide
.idea/
.vscode/
